body {
    background-color: var(--light);
}
.bi-person-circle {
    font-size: 24px;
    height: fit-content;
}
button#logout {
    font-size: 18px;
}
li.message-head {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
li.message-head:hover {
    background-color: rgba(222, 222, 222, 0.452);
}
a.message-link {
    color: var(--dark);
    text-decoration: none !important; 
}